<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../assets/layui/css/layui.css" media="all">
    <title>Service through train</title>
    <script type="text/javascript" src="../assets/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="../assets/layui/layui.js"></script>
    <script type="text/javascript" src="../js/service.js"></script>
</head>
<body>


<div class="layui-btn-container" id="appList">
    <button type="button" class="layui-btn layui-btn-primary layui-btn-lg" lay-event="detail">Gas volume analysis system</button>
    <button type="button" class="layui-btn layui-btn-primary layui-btn-lg" lay-event="detail">Gas volume analysis system</button>
    <button type="button" class="layui-btn layui-btn-primary layui-btn-lg"  lay-event="detail">Gas volume analysis system</button>
</div>
<!--  <div class="layui-row layui-col-space10">-->

<!--      <div class="layui-col-xs3">-->
<!--          <button type="button" class="layui-btn layui-btn-primary layui-btn-lg">Gas volume analysis system-->


<!--          </button>-->
<!--      </div>-->
<!--      <div class="layui-col-xs6" style="background-color: #00c292;height: 80px">-->
<!--          <div class="grid-demo">6/12</div>-->
<!--      </div>-->
<!--  </div>-->


</body>
</html>